@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body{
  padding: 0px;
  background-color: #222831;
}
.heading{
  color:#00adb5;
  font-size: 40px;
  font-family: "Montserrat";
  padding:5px 50px;
  margin-top:10px;
  background-color: #393e46;
}

.para{
  font-size: 25px;
  color:#d0e6e7;
  font-family: "Montserrat";
}

#butn {
  border: bold;
  color: #eeeeee;
  padding: 16px 52px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-family: "Montserrat";
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #00adb5;
  border-radius: 15px;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  width: 100%;
  height: 350px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #dae5e6;
  font-size: 16px;
  resize: none;
  font-family: "Montserrat";
}